APKBUILD
config.*
!config.h.in
debian/rules
execiser
gci_convert.h
libregina.pc
Makefile
msgcmp
PackageInfo*
!*.in
regina
regina-config
Regina.spec
rexx
rxqueue
rxstack
rxstack.init.d
threader
*.a
*.mtb
*.o
*.so
*.so.*
